* text=auto !eol
LoggerLib/Logger.cpp -text
LoggerLib/Logger.h -text
LoggerLib/LoggerException.h -text
LoggerLib/LoggerLib.sln -text
LoggerLib/LoggerLib.suo -text
LoggerLib/LoggerLib.vcxproj -text
LoggerLib/LoggerLib.vcxproj.filters -text
LoggerLib/LoggerLib.vcxproj.user -text
